body {
  font: normal 16px sans-serif;
  background: #141414;
}

main {
  background: #333333;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 20px;
  overflow: hidden;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

figure {
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
}

figure ~ figure {
  display: none;
}

figure img {
  border: solid 10px white;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 5px;
}

figcaption {
  color: white;
  font-size: 1rem;
}

#preview ul {
  padding: 0;
  margin: 0 -15px;
  font-size: 0;
}

#preview li {
  display: inline-block;
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
}

#preview img {
  border: 3px solid white;
  width: 100%;
  box-sizing: border-box;
}

#preview .active img{
  border-color: gray;
}